@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

:root {
  --backgroudColor: #2199c3;
  --otherBackground: #8ed8f3;
  --textColor: white;
  --sliderColor: #ccc;
  --welcomePicture: url(./img/dayCity.jpg);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Single Day", cursive;
  font-size: 20px;
  color: var(--textColor);
}
[data-theme="dark"] {
  --welcomePicture: url(./img/nightCity.jpg);
  --backgroudColor: black;
  --otherBackground: rgb(41, 40, 40);
}
.switcher-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.switcher-description {
  display: flex;
  align-items: center;
}
.switcher-description p {
  margin-left: 5px;
  width: 85px;
}
.switcher-description i {
  margin-left: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--sliderColor);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--sliderColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  background-color: var(--backgroudColor);
  position: fixed;
  width: 100%;
}
li {
  display: inline;
  margin-right: 20px;
}
li a {
  text-decoration: none;
}
.menu-icon {
  margin-right: 10px;
  visibility: hidden;
}
.menu-icon i {
  font-size: 25px;
}
.space {
  height: 70px;
}
.welcomePicture {
  background-image: var(--welcomePicture);
  min-height: calc(100vh - 70px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#buildings {
  height: calc(100vh - 70px);
  background-color: var(--otherBackground);
  text-align: center;
}

#buildings h1 {
  padding: 50px;
  font-size: 35px;
}
.buildings-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  margin: 0px 30px;
}
.buildings-img {
  object-fit: cover;
}

.buildings-img img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

#form {
  height: calc(90vh - 70px);
  background-color: var(--otherBackground);
  text-align: center;
}
#form h1 {
  padding: 20px;
  font-size: 35px;
}
.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.input-box input {
  color: black;
  text-align: center;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 9px;
  margin: 5px;
}
.textPassword,
.textEmail {
  padding-right: 5px;
}
.textPasswordDiv,
.textEmailDiv {
  padding: 5px;
}
.ET {
}
.ET img {
  height: 30vh;
}
.fa-arrow-up {
  color: var(--backgroudColor);
}

.arrow {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
arrow {
  position: fixed;
  right: 20px;
  bottom: 20px;
  visibility: hidden;
}

footer {
  background-color: var(--backgroudColor);
  text-align: center;
  height: 10vh;
}
.tooter-text {
  padding: 10px;
}
